@import "tailwindcss";

/* @plugin "tailwindcss-animate"; */

@custom-variant dark (&:is(.dark *));

:root {
  --blue: #7088B8;
  --light-blue: #8EB2D1;
  --pink: #CF80A9;
  --purple: #C0A7D2;
  --yellow: #DDCD74;
  --green: #96B04B;
  --white: #FAF5F3;
  --black: #212121;


  --bg: var(--white);
  --bw: var(--white);
  --blank: var(--black);
  --border: var(--black);
  --text: var(--black);
  --mtext: var(--black);
  --ring: var(--black);
  --ring-offset: var(--white);

  --main: var(--light-blue);
  --overlay: rgba(0, 0, 0, 0.8);

  --border-radius: 5px;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);

  --max-layout: 1100px;
  --max-content: 800px
}

.dark {
  --bg: var(--black);
  --bw: var(--black);
  --blank: var(--white);
  --border: var(--white);
  --text: var(--white);
  --mtext: var(--white);
  --ring: var(--white);
  --ring-offset: var(--white);

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

@theme inline {
  --color-secondaryBlack: var(--black);
  --color-overlay: var(--overlay);
  --color-main: var(--main);
  --color-bg: var(--bg);
  --color-bw: var(--bw);
  --color-blank: var(--blank);
  --color-text: var(--text);
  --color-mtext: var(--mtext);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-ringOffset: var(--ring-offset);

  --spacing-boxShadowX: var(--box-shadow-x);
  --spacing-boxShadowY: var(--box-shadow-y);
  --spacing-reverseBoxShadowX: var(--reverse-box-shadow-x);
  --spacing-reverseBoxShadowY: var(--reverse-box-shadow-y);

  --radius-base: var(--border-radius);
  --popover-width: var(--radix-popover-content-available-width);

  --shadow-shadow: var(--shadow);

  --font-weight-base: 500;
  --font-weight-heading: 700;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-marquee: marquee 5s linear infinite;
  --animate-marquee2: marquee2 5s linear infinite;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-in: slide-down 250ms;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
